body				{ background-color: #e80; }
h1 a				{ color: #111; 
				  text-shadow: 1px 0 1px #888; }
h1 a:hover			{ text-shadow: 1px 0 1px #aaa; }
form 				{ box-shadow: 1px 1px 4px #333; }
section section:last-child 	{ background-color: #ddd; 
				  color: #236; }
section section >h3		{ background-color: darkred; }
footer				{ color: #333; }
footer a			{ color: #000; }
