h1 				{ font-family: cursive; text-align: right; font-size: 32pt; margin-bottom: -0.9ex; }
article > section > form 	{ padding: 0; }
form 				{ box-shadow: 2px 2px 2px darkred; }
section section			{ margin-top: 0; 
				  padding-bottom: 1ex; 
				  background-color: #fff; 
				  border: 0; }
section section >h3		{ background-color: red; color: #fff; }
