html, body			{ margin: 0; 
				  height: 100%; }
a				{ text-decoration: none; }
body				{ background-color: #eee; 
				  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
				  display: flex;
				  flex-direction: column;
			  	  font-size: 12pt; }
h1, h2, h3			{ font-family: Georgia, Times, Times New Roman, serif; 
			   	  font-weight: normal; }
h3				{ font-size: inherit; }
h1				{ margin: 0; 
				  font-size: 20pt; }
h2				{ font-size: 14pt; }
h1 span				{ color: darkred; 
				  padding-left: 0.1ex; }
#exprLoaded			{ position: relative; 
				  background-color: #fff;
				  padding-bottom: 1em;
				  padding-top: 3.5em; }
input.intoggler			{ display: none; }
input.intoggler + * > .intoggler-on
				{ display: none; }
input.intoggler + * > .intoggler-off
				{ display: block; }
input.intoggler:checked + * > .intoggler-on
				{ display: block; }
input.intoggler:checked + * > .intoggler-off
				{ display: none; }

input.toggler			{ display: none; }
input.toggler + *		{ max-height: 0; 
				  overflow: hidden; }
input.toggler:checked + *,
label:hover > input.toggler + *	{ max-height: 1000em; }
input.toggler ~ i[class~="fa-navicon"],
label > i[class~="fa-navicon"] 
				{ color: #888; }
input.toggler:checked ~ i[class~="fa-navicon"]
				{ color: #000; }
label:hover > i[class~="fa-navicon"] 
				{ text-shadow: 1px 1px 1px #fff; }
#exprLoading			{ flex: 1;
				  background-color: #666;
				  color: #fff;
				  width: 100%;
				  height: 50%; }
#exprLoading > *		{ display: table; 
				  margin-left: auto;
				  margin-right: auto;
				  height: 100%; }
#exprLoading > * > *		{ display: table-cell;
				  vertical-align: middle; }
#rolls				{ margin-top: 1em; }
#rolls > section		{ background-color: #efefef; 
				  margin-bottom: 1em;
				  padding: 8pt; }
#rolls > section > :first-child	{ margin-top: 0; }
#rolls > section > :last-child	{ margin-bottom: 0; }
article				{ padding: 0 20% 0 20%; }
.top				{ text-align: center; }
.table				{ display: table; 
				  border-spacing: 1em 0; }
.table >*			{ display: table-row; }
.table >* >*			{ display: table-cell; }
.table-left-head		{ text-align: right; 
				  width: 1%;
				  white-space: nowrap;
				  padding-right: 1ex;
				  color: #444; }
.table li			{ margin: 0; 
				  padding: 0; }
ul.table 			{ list-style-type: none; 
				  border-spacing: 0; 
				  padding: 0; }
ul.table > * > *		{ padding-right: 1ex; }
header				{ background-color: #ccc; 
				  position: fixed;
				  left: 0;
				  z-index: 2;
				  width: 100%;
				  top: 0;
				  border-bottom: thin solid #aaa; }
header > div.table		{ border-spacing: 0; }
header > div > div > *		{ padding: 0.5ex 1ex;
				  white-space: nowrap;
				  border-right: thin solid #eee; }
header a			{ color: #222; }
header > div > div > label	{ position: relative; }
header > div > div > label nav	{ position: absolute;
				  top: 100%;
				  text-align: left;
				  left: 0;
				  border-bottom-right-radius: 1ex;
				  border-bottom-left-radius: 1ex;
				  box-shadow: 1px 1px 4px #555;
				  background-color: #eee;
				  overflow: hidden;
				  transition: max-height 0.5s ease-in;
				  max-height: 0px; }
header > div > div > label nav > *	
				{ cursor: pointer; 
				  display: block;
				  padding: 1ex;
				  color: #222; }
footer				{ text-align: center; 
				  padding: 1em 0;
				  font-size: 11pt;
				  border-top: thin solid #bbb;
				  color: #888; }
footer a			{ color: #666; 
				  padding-left: 0.5ex;
				  border-left: thin solid #888; }
footer a:hover			{ color: #222; }
#wipeExprCheckboxBox		{ border: thin solid #666;
				  background-color: #ec3; 
				  margin-right: 0.5ex;
				  padding: 0.1ex 0ex;
				  border-radius: 1ex; }
.statuslist			{ list-style-type: none; 
				  background-color: #eee; 
				  border-radius: 2pt;
				  padding: 0.25ex 1ex;
				  margin: 0;
				  border-spacing: 2ex 0.5ex;
				  display: table; }
.statuslistbox			{ margin: 0.5em 0; }
.statuslist >*			{ display: table-row; 
				  padding: 0; 
				  margin: 0; }
.statuslist >* >*		{ display: table-cell; }
.statuslisthead			{ color: #666; }
.statusgraph			{ height: 200px; 
				  padding: 0;
				  width: 100%; }
*[class~="fa-toggle-on"]	{ color: #008000; }
*[class~="fa-toggle-on"]:hover	{ color: #33a333; }
*[class~="fa-toggle-off"]	{ color: #55c555; }
*[class~="fa-toggle-off"]:hover	{ color: #33a333; }
*[class~="fa-remove"]		{ color: red; }
*[class~="fa-remove"]:hover	{ color: darkred; }
progress			{ width: 100%; }
.noshow				{ display: none; }
.canclose			{ position: relative; 
				  padding: 1ex;
				  padding-left: 3ex;
				  border: thin solid #666;
				  border-radius: 1ex;
				  background-color: #ccc; }
.canclose p			{ margin-top: 0; 
				  margin-bottom: 0; }
.canclose p + p 		{ margin-top: 1ex; }
.canclose form			{ margin-top: 1ex; }
.canclose fieldset		{ margin: 0; 
				  border-spacing: 0; }
.canclose a			{ position: absolute;
				  font-size: 7pt;
				  color: #333;
				  top: -1ex;
				  left: -1ex; }
.canclose a:hover		{ color: #000; }

/*
 * Now layout the input components. 
 */
fieldset			{ display: table; 
				  width: auto;
				  margin: 0;
				  margin-top: -1ex;
				  padding: 0;
				  border-spacing: 0 1ex;
				  border: 0; }
span.inputheader		{ color: #666; }
.input				{ display: table-row; }
.buttons > div > .input		{ display: table; }
.buttons > div > .input.noshow	{ display: none; }
.buttons > div			{ display: inline-block; }
.input.noshow			{ display: none; }
.input >*			{ display: table-cell; 
				  background-color: #ddd;
				  padding: 1ex 1ex;
				  border: none;
				  border-radius: 0;
				  font-size: inherit;
				  border-left: thin solid #ccc;
				  border-top: thin solid #ccc;
				  border-bottom: thin solid #ccc;
				  vertical-align: middle; }
.input-check >*:last-child	{ background-color: #eee; }
.input >*:last-child		{ border-right: thin solid #ccc; 
				  border-bottom-right-radius: 0.5ex;
				  border-top-right-radius: 0.5ex; }
.input >*:first-child	{ border-bottom-left-radius: 0.5ex;
				  border-top-left-radius: 0.5ex; }
.input i			{ text-align: center; 
				  width: 1%; }
.input button,
.input textarea,
.input input			{ -webkit-appearance: none;
				  margin: 0;
				  width: 99%;
				  background-color: #fff;
				  font-size: inherit;
				  font-family: inherit;
				  box-sizing: border-box; }
.input input[type=radio]	{ -webkit-appearance: radio; }
.input > div input		{ width: auto; }
.input > div			{ display: table; 
				  border-spacing: 0;
				  background-color: #fff; 
				  width: 95%; }
.input > div >*		{ display: table-row; }
.input > div >* >*		{ display: table-cell; 
				  line-height: 200%;
				  vertical-align: baseline; }
.input input[readonly]	{ background-color: #ddd; }
.input-check >*		{ cursor: pointer; }
.input textarea		{ height: 10ex; }
.input textarea.bigtext	{ height: 30ex; }
.input-submit >*		{ background-color: #666; 
				  color: #fff; 
				  padding: 0.75ex;
				  border-left: thin solid #000;
				  border-top: thin solid #000;
				  border-bottom: thin solid #000; }
.input-submit button,
.input-submit input[type=button],
.input-submit input		{ background-color: #333; 
				  text-align: left; }
.input-submit >*:last-child	{ border-right: thin solid #000; }
.input-submit button:active,
.input-submit input:active	{ background-color: #444; }
.input-submit button:hover,
.input-submit input:hover	{ color: #ddd; }
.input button,
.input input[type=button],
.input input[type=date],
.input input[type=reset],
.input input[type=submit]	{ width: auto; }
.input input[type=number]	{ width: 20ex; }
.input input[type=time]	{ width: 20ex; }
.warning			{ display: table; 
			 	  margin: 0.75em 0; }
.warning > div			{ display: table-row; }
.warning > div > *		{ display: table-cell; 
				  vertical-align: middle;
			   	  padding: 1ex; }
.warning > div > :first-child	{ border-top-left-radius: 1ex; 
				  border-bottom-left-radius: 1ex;
				  background-color: #eee;
				  border: thin solid #ccc; }
.warning > div > :last-child	{ border-top-right-radius: 1ex; 
				  background-color: #336699;
				  color: #fff;
				  border: thin solid #333;
				  border-bottom-right-radius: 1ex;
				  border-left: 0; }
.warning > div > :last-child a	{ color: #ccc; }
.advanced > *:not(:first-child)	{ display: none; }
.advanced > :first-child 	{ color: #333; }
.advanced > :first-child i	{ margin-right: 0.25ex; }
.advanced.showadv > p		{ display: block;
	       			  margin-top: 0em; }
.advanced.showadv > fieldset,
.advanced.showadv > form,
.advanced.showadv > div		{ display: block; }
.advanced.showadv > .input	{ display: table-row; }
.advanced.showadv > :first-child 	
				{ display: none; }
.advanced.showadv 		{ border-top: thin solid #ccc; 
				  margin-top: 0.5em;
				  margin-bottom: 0.5em;
				  border-bottom: thin solid #ccc;
				  padding-top: 8pt; }
.seconds, .error		{ color: red;
				  font-weight: bolder; }
#mturkbonusesButton		{ margin-top: 4pt; }
.smallview			{ display: none; }
@media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
	article			{ padding-left: 10%; 
			  	  padding-right: 10%; }
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
	article			{ padding-left: 0.5ex;
				  padding-right: 0.5ex; }
	h1			{ font-size: 16pt; } 
	#exprLoaded		{ padding-top: 3em; }
	.statusgraph		{ height: 150px; 
				  margin-left: auto;
				  margin-right: auto;
				  width: 95%; }
	.statuslist		{ padding: 0;
				  width: 100%;
				  border-spacing: 8pt 4pt; }
	/*.statuslistbox		{ margin: 0.1em 0; }*/
	h3			{ padding: 4pt; 
				  font-size: inherit; }
	footer			{ font-size: 10pt; }
	.input input[type=radio]
				{ margin-right: 1ex; }
	.input input[type=file],
	.input input[type=url]	
				{ width: 100%; }
	span.smallview		{ display: inline; }
	span.bigview		{ display: none; }
}
