html, body			{ margin: 0; }
a				{ text-decoration: none; }
body				{ background-color: #eee; 
				  font-family: Calibri, Candara, Segoe, 
				 	 Segoe UI, Optima, Arial, sans-serif;
			  	  font-size: 12pt; }
h1, h2, h3			{ font-family: Georgia, Times, Times New Roman, serif; 
				  font-weight: normal; }
h1 span				{ color: darkred; 
				  padding-left: 0.1ex; }
header				{ background-color: #ccc; 
				  display: table;
				  position: fixed;
				  left: 0;
				  z-index: 1;
				  top: 0;
				  width: 100%;
				  border-bottom: thin solid #aaa; }
header > *			{ display: table-cell; 
				  padding: 0.5ex 1ex;
				  text-align: center;
				  width: 1%;
				  white-space: nowrap;
				  border-right: thin solid #eee; }
header a			{ color: #222; }
#navParent			{ position: absolute; 
				  display: block;
				  border: none;
				  top: 100%; 
				  left: 0;}
#nav a				{ display: block;
				  padding: 1ex;
			  	  color: #222; }
#nav				{ position: absolute;
				  top: 1px;
				  left: 0;
				  border-bottom-right-radius: 1ex;
				  border-bottom-left-radius: 1ex;
				  box-shadow: 1px 1px 4px #555;
				  background-color: #eee;
				  overflow: hidden;
				  transition: max-height 0.5s ease-in-out;
				  max-height: 0px; }
h1				{ margin: 0; 
				  font-size: 20pt; }
h2				{ font-size: 16pt; }
h3 				{ cursor: pointer; 
				  margin: 0;
				  position: relative;
				  padding: 6pt;
				  color: #ccc;
				  background-color: #555;
			 	  font-size: inherit; }
#loadPlayers, 
#loadNewPlayers, 
#loadGames 			{ display: table; 
				  padding: 0; }
#loadPlayers li, 
#loadNewPlayers li, 
#loadGames li			{ display: table-row; }
#loadPlayers li >*,
#loadNewPlayers li >*,
#loadGames li >*		{ display: table-cell; 
				  padding: 0.5ex; }
#loadPlayers li,
#loadNewPlayers li,
#loadGames li			{ margin: 0; 
				  padding: 0; }
#loadPlayers .table,
#loadNewPlayers .table,
#loadGames .table		{ border-left: thin solid #c60; 
				  display: inline-table; }
h3:hover 			{ background-color: #666; }
h3 span				{ color: #fff; }
h3 i:last-child			{ position: absolute;
				  right: 0.5ex; }
article				{ background-color: #fff;
				  padding: 0 20% 0 20%; }
article + article		{ padding-top: 1em;
			 	  padding-bottom: 1em; }
article.top			{ padding-top: 4em; 
				  padding-bottom: 0;
				  text-align: center; }
ul				{ list-style-type: none; }
section.rolled,
section.unrolled		{ border: thin solid #222; 
				  box-shadow: 0 0 1px #666; 
			  	  background-color: #e80;
				  margin-bottom: 8pt; }
section.rolled > div,
section.unrolled > div		{ margin-top: 1em;
				  margin-bottom: 1em; }
section.rolled >*:not(h3) 	{ padding: 0; 
				  max-height: 0; 
				  margin: 0; 
				  overflow: hidden; }
section.unrolled >*:not(h3) 	{ max-height: 1000em; 
				  margin-left: 1ex; 
				  margin-right: 1ex; }
.table				{ display: table; 
				  width: 100%;
				  margin: 1em 0;
				  border-spacing: 1ex 0.5ex; }
.table >*			{ display: table-row; }
.table >* >*			{ display: table-cell; }
.table-left-head		{ text-align: right; 
				  width: 1%;
				  white-space: nowrap;
				  padding-right: 1ex;
				  color: #444; }
footer				{ text-align: center; 
				  padding: 1em 0;
				  font-size: 11pt;
				  border-top: thin solid #bbb;
				  color: #888; }
footer a			{ color: #666; 
				  padding-left: 0.5ex;
				  border-left: thin solid #888; }
footer a:hover			{ color: #222; }
#wipeExprCheckboxBox		{ border: thin solid #666;
				  background-color: #ec3; 
				  margin-right: 0.5ex;
				  padding: 0.1ex 0ex;
				  border-radius: 1ex; }
.statuslist			{ list-style-type: none; 
				  background-color: #eee; 
				  border-radius: 1ex;
				  padding: 0.25ex 1ex;
				  margin: 0;
				  border-spacing: 2ex 0.5ex;
				  display: table; }
.statuslistbox			{ margin: 0.5em 0; }
.statuslist >*			{ display: table-row; 
				  padding: 0; 
				  margin: 0; }
.statuslist >* >*		{ display: table-cell; }
.statuslistcaption		{ padding-left: 8pt; }
.statuslisthead			{ color: #666; }
.statusgraph			{ height: 200px; 
				  padding: 0;
				  width: 100%; }
*[class~="fa-toggle-on"]	{ color: #333; }
*[class~="fa-toggle-on"]:hover	{ color: #000; }
*[class~="fa-toggle-off"]	{ color: #888; }
*[class~="fa-toggle-off"]:hover	{ color: #555; }
*[class~="fa-remove"]		{ color: #333; }
*[class~="fa-remove"]:hover	{ color: #000; }
progress			{ width: 100%; }
.noshow				{ display: none; }
.canclose			{ position: relative; 
				  padding: 1ex;
				  padding-left: 3ex;
				  border: thin solid #666;
				  border-radius: 1ex;
				  background-color: #ccc; }
.canclose p			{ margin-top: 0; 
				  margin-bottom: 0; }
.canclose p + p 		{ margin-top: 1ex; }
.canclose form			{ margin-top: 1ex; }
.canclose fieldset		{ margin: 0; 
				  border-spacing: 0; }
.canclose a			{ position: absolute;
				  font-size: 7pt;
				  color: #333;
				  top: -1ex;
				  left: -1ex; }
.canclose a:hover		{ color: #000; }

/*
 * Now layout the input components. 
 */
fieldset			{ display: table; 
				  width: auto;
				  margin: 0;
				  margin-top: -1ex;
				  padding: 0;
				  border-spacing: 0 1ex;
				  border: 0; }
span.inputheader		{ color: #666; }
div.input			{ display: table-row; }
div.input >*			{ display: table-cell; 
				  background-color: #ddd;
				  padding: 1ex 1ex;
				  border: none;
				  border-radius: 0;
				  font-size: inherit;
				  border-left: thin solid #ccc;
				  border-top: thin solid #ccc;
				  border-bottom: thin solid #ccc;
				  vertical-align: middle; }
div.input-check >*:last-child	{ background-color: #eee; }
div.input >*:last-child		{ border-right: thin solid #ccc; 
				  border-bottom-right-radius: 0.5ex;
				  border-top-right-radius: 0.5ex; }
div.input >*:first-child	{ border-bottom-left-radius: 0.5ex;
				  border-top-left-radius: 0.5ex; }
div.input i			{ text-align: center; 
				  width: 1%; }
div.input button,
div.input textarea,
div.input input			{ -webkit-appearance: none;
				  margin: 0;
				  width: 99%;
				  background-color: #fff;
				  font-size: inherit;
				  font-family: inherit;
				  box-sizing: border-box; }
div.input input[type=radio]	{ -webkit-appearance: radio; }
div.input > div input		{ width: auto; }
div.input > div			{ display: table; 
				  border-spacing: 0;
				  background-color: #fff; 
				  width: 95%; }
div.input > div >*		{ display: table-row; }
div.input > div >* >*		{ display: table-cell; 
				  line-height: 200%;
				  vertical-align: baseline; }
div.input input[readonly]	{ background-color: #ddd; }
div.input-check >*		{ cursor: pointer; }
div.input textarea		{ height: 10ex; }
div.input textarea.bigtext	{ height: 30ex; }
div.input-submit >*		{ background-color: #666; 
				  color: #fff; 
				  padding: 0.75ex;
				  border-left: thin solid #000;
				  border-top: thin solid #000;
				  border-bottom: thin solid #000; }
div.input-submit button,
div.input-submit input[type=button],
div.input-submit input		{ background-color: #333; 
				  text-align: left; }
div.input-submit >*:last-child	{ border-right: thin solid #000; }
div.input-submit button:active,
div.input-submit input:active	{ background-color: #444; }
div.input-submit button:hover,
div.input-submit input:hover	{ color: #ddd; }
div.input button,
div.input input[type=button],
div.input input[type=date],
div.input input[type=submit]	{ width: auto; }
div.input input[type=number]	{ width: 20ex; }
div.input input[type=time]	{ width: 20ex; }
.warning			{ display: table; 
			 	  margin: 0.75em 0; }
.warning > div			{ display: table-row; }
.warning > div > *		{ display: table-cell; 
				  vertical-align: middle;
			   	  padding: 1ex; }
.warning > div > :first-child	{ border-top-left-radius: 1ex; 
				  border-bottom-left-radius: 1ex;
				  background-color: #eee;
				  border: thin solid #ccc; }
.warning > div > :last-child	{ border-top-right-radius: 1ex; 
				  background-color: #336699;
				  color: #fff;
				  border: thin solid #333;
				  border-bottom-right-radius: 1ex;
				  border-left: 0; }
.warning > div > :last-child a	{ color: #ccc; }
.advanced > *:not(:first-child)	{ display: none; }
.advanced > :first-child 	{ color: #333; }
.advanced > :first-child i	{ margin-right: 0.25ex; }
.advanced.showadv > p		{ display: block;
        			  margin-top: 0em; }
.advanced.showadv > div		{ display: block; }
.advanced.showadv > div.input	{ display: table-row; }
.advanced.showadv > :first-child 	
				{ display: none; }
.advanced.showadv 		{ border-top: thin solid #ccc; 
				  margin-top: 0.5em;
				  margin-bottom: 0.5em;
				  border-bottom: thin solid #ccc;
				  padding-top: 8pt; }
.seconds, .error		{ color: red;
				  font-weight: bolder; }
#mturkbonusesButton		{ margin-top: 4pt; }
@media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
	article			{ padding-left: 10%; 
			  	  padding-right: 10%; }
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
	article			{ padding-left: 0.5ex;
				  padding-right: 0.5ex; }
	h1			{ font-size: 16pt; } 
	article.top		{ padding-top: 3em; }
	.statusgraph		{ height: 150px; 
				  margin-left: auto;
				  margin-right: auto;
				  width: 95%; }
	.statuslist		{ padding: 0;
				  width: 100%;
				  border-spacing: 8pt 4pt; }
	.statuslistbox		{ margin: 0.1em 0; }
	.statuslistcaption	{ padding-left: 0; 
				  text-align: center; }
	h3			{ padding: 4pt; 
				  font-size: inherit; }
	footer			{ font-size: 10pt; }
	div.input input[type=radio]
				{ margin-right: 1ex; }
	div.input input[type=file],
	div.input input[type=url]	
				{ width: 100%; }
	h1 span			{ font-size: 10pt; 
				  padding-left: 0ex; }
}
