body			{ margin: 0; 
			  font-family: serif;
			  background-color: #393939; }
header			{ padding-top: 2em; }
header h1		{ font-size: 56pt; 
			  font-family: Georgia, serif;
			  display: inline-block;
			  font-weight: normal;
			  text-shadow: 1px 1px #000;
			  color: #fff; }
header div		{ color: #ff5a09; 
			  margin-left: 7%;
		   	  margin-right: 7%;
			  font-size: 14pt; }
#logoh1			{ padding-top: 1%;
			  margin-left: 5%;
			  margin-right: 5%; }
#logoh1 img		{ margin-bottom: -8pt; 
			  height: 60pt;
			  margin-right: 4pt; }
header div > span	{ padding-left: 1ex;
			  padding-right: 1ex; }
header span:first-child	{ padding-left: 0; }
article			{ color: #efefef; 
		   	  margin-left: 7%;
		   	  margin-right: 7%;
			  line-height: 125%;
			  text-shadow: 1px 1px #333;
			  font-size: 17pt; }
#moreinfo		{ padding-top: 2em; }
footer			{ margin-top: 3em; 
			  font-size: 11pt;
			  line-height: 130%;
			  text-align: center;
			  color: #6e6e6e; }
.nm			{ color: #ff5a09; }
a			{ text-decoration: none; 
			  color: #ff9000; }
a:hover			{ text-shadow: 0px 0px 3px #ffc000; }
footer a		{ color: #cc9000; }
section			{ text-shadow: none;
			  font-size: 14pt;
			  color: #aeaeae; }
nav[data-sblg-nav] ul	{ list-style-type: none; 
			  color: #aeaeae; 
			  padding: 0; }
nav[data-sblg-nav] li	{ margin-bottom: 1em; }
nav[data-sblg-nav] li p	{ margin: 0; 
			  line-height: 120%; }
nav[data-sblg-nav] li code
			{ font-size: 11pt; }
nav[data-sblg-nav] li p + p	
			{ margin-top: 0.5em; }
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
header			{ padding-top: 1ex; }
header span span	{ display: none; }
header h1		{ font-size: 32pt; 
			  margin-top: 1ex; 
			  margin-bottom: 0; }
#logoh1			{ text-align: center; 
			  padding-top: 0; }
header img		{ height: 30pt; }
article			{ font-size: 14pt; 
			  margin-left: 4%; 
			  margin-right: 4%; }
#moreinfo		{ padding-top: 0; }
nav[data-sblg-nav]	{ font-size: 12pt; }
#logoh1			{ padding-top: 0; }
}
