body			{ margin: 0; 
			  font-family: serif;
			  background-color: #393939; }
header			{ padding-top: 2em; }
header h1		{ font-size: 64pt; 
			  font-family: Georgia, serif;
			  display: inline-block;
			  font-weight: normal;
			  text-shadow: 1px 1px #000;
			  color: #fff; }
header div		{ color: #ff5a09; 
			  margin-left: 7%;
		   	  margin-right: 7%;
			  font-size: 12pt; }
#moreinfo		{ line-height: 140%; }
#logoh1			{ padding-top: 1%;
			  margin-left: 7%;
			  margin-right: 7%; }
#logoh1 img		{ margin-bottom: -8pt; 
			  height: 64pt;
			  margin-right: 4pt; }
#team >*		{ display: inline-block; }
#team >* >*		{ display: block; 
			  line-height: 100%;
			  text-align: center; }
#team span		{ font-size: 9pt;
			  padding-top: 6pt;
			  color: #ccc; }
#team img		{ height: 70px; 
			  border-radius: 4px;
			  box-shadow: 1px 1px 2px #222; }
#team			{ margin: 0; }
#team + p		{ margin-top: 0; }
header div > span	{ padding-left: 1ex;
			  padding-right: 1ex; }
header span:first-child	{ padding-left: 0; }
article			{ color: #fff; 
		   	  margin-left: 7%;
		   	  margin-right: 7%;
			  line-height: 130%;
			  font-size: 17pt; }
footer			{ margin-top: 3em; 
		  	  margin-bottom: 2em;
			  font-size: 11pt;
			  line-height: 130%;
			  text-align: center;
			  color: #6e6e6e; }
.nm			{ color: #ff5a09; }
a			{ text-decoration: none; 
			  color: #ff9000; }
a:hover			{ color: #ff6000; }
footer a		{ color: #cc9000; }
section .nm		{ color: #cc3806; }
section a		{ color: #dd8000; }
section a:hover	{ color: #ff9000;
			  text-shadow: none; }
section			{ text-shadow: none;
			  font-size: 13pt;
			  color: #dfdfdf; }
nav[data-sblg-nav] ul	{ list-style-type: none; 
			  margin-top: 24pt;
			  color: #bebebe; 
			  padding: 0; 
		  	  padding-top: 1.12em; }
nav[data-sblg-nav] li	{ margin-bottom: 1em; }
nav[data-sblg-nav] li p	{ margin: 0; 
			  line-height: 120%; }
nav[data-sblg-nav] li code
			{ font-size: 11pt; }
nav[data-sblg-nav] li p + p	
			{ margin-top: 0.5em; }
nav[data-sblg-nav] li > div:first-child
			{ color: #dfdfdf; 
			  margin-bottom: 4pt;
			  border-bottom: thin groove #bc2806; }
.history		{ font-size: 11pt; }
@media only screen and (max-width: 760px), only screen and (max-device-width: 760px) {
header			{ padding-top: 1ex; }
header h1		{ font-size: 32pt; 
			  margin-top: 1ex; 
			  margin-bottom: 0; }
#logoh1			{ text-align: center; 
			  padding-top: 0; }
header img		{ height: 30pt; }
article			{ font-size: 13pt; 
			  margin-left: 4%; 
			  margin-right: 4%; }
#moreinfo		{ padding-top: 0; }
nav[data-sblg-nav]	{ font-size: 12pt; }
#logoh1			{ padding-top: 0; }
#logoh1 img		{ height: 38pt; }
#team			{ text-align: center; 
			  margin-bottom: 0.5em; 
			  margin-top: 1em; }
.bigview		{ display: none; }
}
