body, html		{ margin: 0; }
body			{ font-size: 14pt; 
			  background-color: #393939; 
		 	  color: #cecece; }
.nm, .file, .url	{ font-style: italic; }
a			{ text-decoration: none; 
			  color: #ff5a0f; }
body > header		{ padding: 4% 4% 1% 4%; }
body > nav		{ border-top: thin solid #686868;
			  color: #acacac;
			  border-bottom: thin solid black;
			  font-size: 13pt; }
body > nav > *		{ padding: 1ex; 
			  position: relative;
			  display: inline-block; }
body > nav > *:first-child	
			{ padding-left: 4%; }
body > nav > *:last-child	
			{ padding-right: 4%; }
#nav			{ position: absolute;
			  margin: 0;
			  padding-top: 1em;
			  padding-bottom: 1em;
			  padding-right: 1em;
			  white-space: nowrap;
			  border-bottom-left-radius: 1ex;
			  border-bottom-right-radius: 1ex;
			  background-color: #393939;
			  display: none; }
article			{ padding: 1em 4% 1em 4%; 
			  color: #222;
			  background-color: #eee; }
figure			{ margin: 0; 
			  text-align: center; }
figure img		{ width: 100%; 
			  max-width: 600px; }
body > header img	{ height: 40pt; 
			  margin-right: 8pt;
			  margin-bottom: -10pt; }
h1			{ margin: 0; 
			  display: inline-block;
			  font-size: 32pt;
			  font-weight: normal; }
h1 a			{ color: #cecece; }
h2			{ font-size: 18pt; }
h3			{ font-size: 14pt; }
footer			{ margin-top: 1em;
			  margin-bottom: 1em;
			  font-size: 11pt;
			  line-height: 130%;
			  color: #acacac;
			  text-align: center; }
footer a:hover img	{ opacity: 0.6; }
kbd, code, samp		{ font-size: 11pt; }
img.shadow		{ border-radius: 8px;
			  box-shadow: 1px 1px 16px #333; }
.gamepanes span,
.gamepayoffs span	{ color: red; }
.gamepanes 		{ display: table; 
			  margin: 1em 0;
			  width: 100%; }
.gamepanes div 		{ display: table-cell; 
			  width: 50%; }
.gamepanes table	{ margin-left: auto;
			  margin-right: auto; }
.gamepanes td		{ padding: 0 1ex; 
			  text-align: center; }
article header >*	{ display: inline-block; 
			  margin-top: 0; 
			  margin-bottom: 0; }
article header		{ margin-top: 1em;
			  margin-left: -22pt; 
			  margin-bottom: 1em; }
article header a	{ font-size: 14pt; }
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
body > nav > span span	{ display: none; }
body > header img	{ height: 34pt; 
			  margin-bottom: -6pt; }
h1			{ margin-bottom: 2pt; }
article header		{ margin-left: 0pt; }
article nav ul		{ padding-left: 2ex; }
article dd		{ margin-left: 2ex; }
article dl		{ margin-top: 1ex; }
.bigview		{ display: none; }
}
