body				{ background-color: #eee; }
#top img			{ height: 42pt; 
				  margin-bottom: -2pt; }
#top				{ text-align: right; 
				  margin-bottom: 1ex; }
h1				{ font-family: Georgia, serif; 
				  display: inline-block;
				  font-weight: normal;
				  font-size: 32pt; }
h1 a				{ color: #111; 
				  text-shadow: 1px 0 1px #888; }
article > section > form 	{ padding: 0; }
#form, form 			{ box-shadow: 1px 1px 4px #333; }
section section 		{ background-color: #fff; 
				  margin: 0; 
				  border: 0; }
section section:last-child 	{ background-color: #ddd; 
				  color: #236;
				  line-height: 120%; }
section section > *		{ margin: 0; 
				  padding: 1em; }
.error				{ margin: 0; 
				  padding: 1em 1em 0 1em; }
.error > *			{ display: block; }
.suberror			{ padding-top: 0.5em;
				  font-weight: normal;
				  color: rgba(255, 0, 0, 0.5); }
h3				{ text-shadow: 1px 1px #333; }
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
#top img			{ margin-bottom: -8pt; }
#top				{ text-align: center; 
				  padding: 1ex; }
#form,
form 				{ box-shadow: none; }
section section >h3		{ text-align: center; }
}
