body				{ background-color: #eee; }
article				{ padding: 3em 30% 1em 30%; }
#top img			{ height: 42pt; 
				  margin-bottom: -2pt; }
#top				{ text-align: right; 
				  margin-bottom: 1ex; }
h1				{ font-family: Georgia, serif; 
				  display: inline-block;
				  font-weight: normal;
				  font-size: 32pt; }
h1 a				{ color: #111; 
				  text-shadow: 1px 0 1px #888; }
section section 		{ background-color: #fff; 
				  border: thin solid #ccc;
				  margin: 0; 
				  padding: 0; }
section section section		{ border: none; 
				  border-top: thin solid #ccc; }
section section >* 		{ margin: 0; }
section section fieldset	{ padding: 1em; }
section section form		{ margin: 0;
				  padding: 1em;
				  box-shadow: none; }
section section p		{ margin: 0;
				  padding: 1em; }
#questionnaire fieldset		{ padding: 0;
				  border-spacing: 0 1ex;
				  padding-bottom: 1ex; }
div.payoffs			{ display: table; 
				  width: 100%; 
				  margin: 0 auto;
				  border-spacing: 1ex; }
div.payoffs > div		{ display: table-row; }
div.payoffs > div > div		{ display: table-cell;  }
div.payoffs div.pair 		{ border: thin solid #ccc;
				  border-radius: 0.5ex; }
div.payoffs div.pair > div 	{ display: inline-block; 
				  width: 45%;
				  padding: 1ex 0;
				  text-align: center; }
div.payoffs div.labelaside	{ text-align: right;
				  width: 1%; }
div.payoffs div.labelatop	{ text-align: center; }
div.ihover > *,
div.payoffs > div.hover .pair	{ box-shadow: 2px 2px 2px #000; }
div.payoffs > div .pair		{ background-color: #ddd; }
div.payoffs > div.active .pair	{ background-color: #fff; 
				  box-shadow: 1px 1px 1px #444; }
.standalone			{ margin: 1em; }
.poffs 				{ display: table;
				  border-spacing: 1em 0;
				  padding: 1em;
				  margin: 0; }
.poffs > *			{ display: table-row; }
.poffs > * > *			{ display: table-cell; 
				  vertical-align: middle; }
section section .error >*	{ padding: 1em 1em 0 1em; }
em				{ font-style: normal;
				  font-weight: bold; }
#graphFig			{ padding: 1ex; }
#graphFig > div > div > div	{ width: 80%; 
				  margin-left: auto; 
			  	  margin-right: auto;
			  	  height: 200px; 
				  z-index: 0; }
h3				{ text-shadow: 1px 1px #333; }
@media only screen and (max-width: 1028px), only screen and (max-device-width: 1028px) {
article				{ padding: 3em 20% 1em 20%; }
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
article				{ padding: 1em 0 1em 0; }
section section			{ border: 0; }
#top img			{ margin-bottom: -8pt; }
#top				{ text-align: center; 
				  padding: 1ex; }
.standalone			{ margin: 1ex; }
section section fieldset,
section section form,
section section p		{ padding: 1ex; }
section section >h3		{ text-align: center; }
}
