/*
 * Lay out the general page structure here.
 */
html, body			{ margin: 0; }
a				{ text-decoration: none; 
				  color: blue; }
body				{ font-family: Calibri, Candara, Segoe, 
				 	 Segoe UI, Optima, Arial, sans-serif;
			  	  font-size: 12pt;
				  line-height: 15pt;
				  background-color: #eee; }
#loading			{ padding-top: 20%; text-align: center; }
header				{ background-color: #ccc; 
				  display: table;
				  position: fixed;
				  left: 0;
				  z-index: 3;
				  top: 0;
				  width: 100%;
				  border-bottom: thin solid #aaa; }
header > *			{ display: table-cell; 
				  padding: 0.5ex 1ex;
				  text-align: center;
				  width: 1%;
				  white-space: nowrap;
				  border-right: thin solid #eee; }
header > span			{ border-right: none; 
				  text-align: left; 
				  width: 98%; }
header a			{ color: #222; }
#defaultTab, .tab:target 	{ max-height: 1000em; padding-top: 3em; padding-bottom: 1em; }
.tab, .tab:target ~ #defaultTab	{ max-height: 0; overflow: hidden; padding-top: 0; padding-bottom: 0; }
#navParent			{ position: absolute; 
				  display: block;
				  text-align: left;
				  top: 100%; 
				  left: 0;}
span.link			{ cursor: pointer; 
				  color: #336699; }
.links >*			{ border-right: thin solid #ccc; 
				  padding-right: 1ex; }
.links >*:last-child		{ border-right: none; }
#nav a				{ color: #222; }
#nav				{ padding: 0 2ex; 
				  position: absolute;
				  top: 0;
				  left: 0;
				  border-bottom-right-radius: 1ex;
				  border-bottom-left-radius: 1ex;
				  box-shadow: 1px 1px 4px #555;
				  background-color: #eee;
				  overflow: hidden;
				  transition: max-height 0.5s ease-in-out;
				  max-height: 0px; }
#nav ul				{ list-style-type: none; 
				  padding: 1ex 0 0 0; 
				  margin: 0; }
#nav li				{ padding: 0.5ex 0; }
#historyNav			{ margin: 1em auto; }
#historyNav a			{ color: #333; }
#historyNav a:hover		{ text-shadow: 1px 1px #ccc; }
i.fa-warning + span		{ margin-left: 0.5ex; }
h1, h2, h3			{ font-family: Georgia, Times, Times New Roman, serif; 
				  font-weight: normal; }
h1				{ margin: 0; }
h2				{ font-size: 16pt; 
				  margin: 0; 
				  margin-top: 1em; }
h3				{ font-size: 14pt; 
				  margin-top: 2em;
				  margin-bottom: 0; }
h3 + div, h3 + p		{ margin-top: 1ex; }
h4				{ font-size: inherit; }
article				{ background-color: #fff;
				  padding: 3em 20% 1em 20%; }
#login > article		{ background-color: inherit; 
				  max-width: 1024px; 
				  margin-left: auto;
		  	  	  margin-right: auto; }
footer				{ text-align: center; 
				  padding: 1em 0;
				  border-top: thin solid #bbb;
				  color: #888;
				  font-size: 11pt; }
#login > footer			{ border-top: none; }
footer a			{ color: #666; 
				  padding-right: 0.5ex;
				  border-right: thin solid #888; }
footer a:last-child		{ border-right: none; 
				  padding-right: 0; }
footer a:hover			{ color: #222; }
section section	{ border: thin solid #ddd;
				  margin: 1em 0; }
section section >*		{ margin: 1em; }
section section >h3		{ margin: 0;
				  padding: 1em;
				  color: #fff;
				  background-color: #5555aa; }
section section h4		{ margin: 0; }
article >section > aside	{ padding: 1ex; }
article >section > form		{ padding: 1ex; }
.seconds, .error		{ color: red;
				  font-weight: bolder; }
aside div			{ margin: 0.75em 0; 
				  line-height: 120%; }
/*
 * Now layout the specific components. 
 */
fieldset			{ display: table; 
				  width: auto;
				  margin: 0;
				  padding: 0;
				  border: 0;
				  border-spacing: 0 1ex; }
div.inputheader			{ margin-top: -2pt; 
				  color: #666; }
div.input			{ display: table-row; }
div.input >*			{ display: table-cell; 
				  background-color: #ddd;
				  padding: 0 1ex;
				  border: none;
				  line-height: 32pt;
				  border-radius: 0;
				  font-size: inherit;
				  border-left: thin solid #ccc;
				  border-top: thin solid #ccc;
				  border-bottom: thin solid #ccc;
				  vertical-align: middle; }
div.input-check >*:last-child	{ background-color: #eee; }
div.input >*:last-child		{ border-right: thin solid #ccc; 
				  border-bottom-right-radius: 0.5ex;
				  border-top-right-radius: 0.5ex; }
div.input >*:first-child	{ border-bottom-left-radius: 0.5ex;
				  border-top-left-radius: 0.5ex; }
div.input i			{ text-align: center; 
				  width: 1%; }
i[class~="fa-toggle-off"]	{ color: black; }
i[class~="fa-toggle-on"]	{ color: green; }
div.input button,
div.input .inputgroup,
div.input textarea,
div.input input			{ -webkit-appearance: none;
				  margin: 0;
				  width: 99%;
				  background-color: #fff;
				  font-size: inherit;
				  font-family: inherit;
				  box-sizing: border-box; }
div.input input[type=checkbox]	{ -webkit-appearance: checkbox; }
div.input input[type=radio]	{ -webkit-appearance: radio; }
div.input-check >*		{ cursor: pointer; }
div.input textarea		{ height: 10ex; }
div.input textarea.bigtext	{ height: 30ex; }
div.input-submit >*		{ background-color: #666; 
				  color: #fff; 
				  border-left: thin solid #000;
				  border-top: thin solid #000;
				  border-bottom: thin solid #000; }
div.input-submit button,
div.input-submit input		{ background-color: #333; 
				  text-align: left; }
div.input-submit >*:last-child	{ border-right: thin solid #000; }
div.input-submit button:active,
div.input-submit input:active	{ background-color: #444; }
div.input-submit button:hover,
div.input-submit input:hover	{ color: #ddd; }
div.input button,
div.input input[type=checkbox],
div.input input[type=radio],
div.input input[type=date],
div.input input[type=submit]	{ width: auto; }
div.input input[type=number]	{ width: 20ex; }
div.input input[type=time]	{ width: 20ex; }
img.enable			{ margin-bottom: -4px; 
			   	  margin-left: 4px; }
img.disable			{ margin-bottom: -6px; 
			   	  margin-left: 2px; }
img.enable:hover,
img.disable:hover		{ cursor: pointer; }
img.status			{ margin-bottom: -6px; }
img.logout			{ margin-bottom: -6px; }
progress			{ display: block;
			   	  margin-bottom: 1ex;
			   	  width: 100%; }
article ol			{ padding: 0 3ex; 
			   	  margin: 0; }
article ol li			{ margin: 0.25em 0; }
article ul			{ list-style-type: none; 
			   	  padding: 0; }
article ul.stratplays		{ list-style-type: circle; 
				  padding-left: 1em; }
article ul li > span,
article ul li > div		{ background-color: #eee; 
			   	  padding: 1ex;
			   	  margin: 1ex;
			   	  border: thin solid #aaa;
			   	  border-radius: 1ex; }
article ul li a			{ color: #333; }
article ul li a:hover		{ color: #000; }
article ul li > span		{ display: inline-block; 
			   	  margin: 0.5ex; }
article ul li > span:first-child
				{ margin-left: 0; }
article ul li > span:last-child { margin-right: 0; }
span.waiting			{ background-color: #aaa; }
div.caption			{ text-align: center; 
				  color: #444;
				  width: 100%; }
div.caption a			{ color: #336699; }
div.lottery			{ text-align: center; }
div.history			{ display: table;
				  width: 100%;
				  margin-left: auto;
				  margin-right: auto;
				  margin-bottom: 2em;
				  background-color: #eee;
				  border-radius: 0.5ex;
				  border: thin solid #ddd;
				  border-spacing: 1ex;
				  white-space: nowrap; }
div.history > div 		{ display: table-row; }
div.history > div > div		{ display: table-cell; }
div.history div.labelaside	{ padding: 0 0.5ex; }
div.history div.sum		{ border-radius: 0.5ex;
				  padding: 0.5ex;
				  color: #444;
				  background-color: #ddd;
				  border: thin solid #aaa; }
div.history div.mix		{ text-align: center; 
				  padding: 0.5ex; 
				  border-radius: 0.5ex;
				  background-color: #fff;
				  border: thin solid #555; }
div.history div.labelatop	{ text-align: center; }
div.history div.sumbelow	{ text-align: center; }
div.history div.sumaside	{ text-align: center; }
div.payoffs			{ display: table; 
				  width: 100%; 
				  margin: 0 auto;
				  border-spacing: 1ex; }
div.payoffs > div		{ display: table-row; }
div.payoffs > div > div		{ display: table-cell;  }
div.payoffs div.pair 		{ border: thin solid #ccc;
				  border-radius: 0.5ex; }
div.payoffs div.pair > div 	{ display: inline-block; 
				  width: 50%;
				  padding: 1ex 0;
				  text-align: center; }
div.payoffs div.labelaside	{ text-align: right;
				  width: 1%; }
div.payoffs div.labelatop	{ text-align: center; }
div.ihover > *,
div.payoffs > div.hover .pair	{ box-shadow: 2px 2px 2px #000; }
div.payoffs > div .pair		{ background-color: #ddd; }
div.payoffs > div.active .pair	{ background-color: #fff; 
				  box-shadow: 1px 1px 1px #444; }
div.iactive > *			{ box-shadow: 1px 1px 1px #444; }
div.canclose			{ border: thin solid blue;
				  border-radius: 1ex;
				  margin: 1ex auto;
				  padding: 1ex; 
				  color: #eee;
				  background-color: #336699; }
div.canclose a:hover	 	{ color: #ccc; }
div.canclose a 		 	{ text-align: right;
				  color: #00eeee; }
sup				{ font-size: 8pt; 
				  font-style: italic; }
div.input input[readonly]	{ background-color: #ddd; }
.noshow				{ max-height: 0 !important; 
				  padding: 0 !important; 
				  overflow: hidden; 
				  margin: 0 !important;
				  border: 0 !important; }
.tabled 			{ display: table; border-spacing: 1ex; }
.tabled > div 			{ display: table-row; }
.tabled > div > * 		{ display: table-cell; }
#loggedout 			{ display: none; }
#loggedout:target 		{ display: block; }
.warning			{ display: table; 
			 	  margin: 0.75em 0; }
.warning > div			{ display: table-row; }
.warning > div > *		{ display: table-cell; 
				  vertical-align: middle;
			   	  padding: 1ex; }
.warning > div > :first-child	{ border-top-left-radius: 1ex; 
				  border-bottom-left-radius: 1ex;
				  background-color: #eee;
				  border: thin solid #ccc; }
.warning > div > :last-child	{ border-top-right-radius: 1ex; 
				  background-color: #336699;
				  color: #fff;
				  border: thin solid #333;
				  border-bottom-right-radius: 1ex;
				  border-left: 0; }
.warning > div > :last-child a	{ color: #ccc; }
#previewInstr			{ margin: 1em 0; }
#instructionsPrompt		{ border: thin solid #666;
				  display: inline-block;
			  	  margin-top: 2em;
				  box-shadow: 1px 1px 3px #ccc;
				  padding: 0.5ex;
				  border-radius: 1ex; }
#bimatrixRoundups		{ margin-bottom: 1em; }
@media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
	article			{ padding-left: 10%; 
			  	  padding-right: 10%; }
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
	#login h1		{ text-align: center; }
	#login article > section > form		
				{ padding: 0; }
	#login > article	{ padding: 0; 
				  padding-top: 1ex; }
	/*h2, h3, h4		{ text-align: center; }*/
	article ul li > span	{ display: block; 
				  margin: 1ex 0; }
	article ul li > div	{ margin: 1ex 0; }
	article ul li > span:first-child
				{ margin-left: 0; }
	article ul li > span:last-child
				{ margin-right: 0; }
	section section >*	{ margin: 0.5em 0.5em 0.5em 0.5em; }
	section section >h3	{ font-size: 14pt;
				  padding: 1ex; }
	article			{ padding-bottom: 1em;
				  padding-left: 0.5ex;
				  padding-right: 0.5ex;
			 	  padding-top: 2em; }
	div.payoffs		{ width: 100%; 
				  border-spacing: 0.25ex; }
	div.history		{ width: 100%; 
				  border-spacing: 0.25ex; }
	h1			{ font-size: 18pt; }
	header span		{ font-size: 12pt; }
	#historyNav		{ text-align: center; }
	footer			{ font-size: 10pt; }
}
