/*
 * Lay out the general page structure here.
 */
html, body			{ margin: 0; }
a				{ text-decoration: none; 
				  color: blue; }
body				{ font-size: 14pt; }
body > header			{ background-color: #ccc; 
				  display: table;
				  width: 100%;
				  border-bottom: thin solid #aaa; }
body > header > *		{ display: table-cell; 
				  padding: 0.5ex 1ex;
				  text-align: center;
				  width: 1%;
				  white-space: nowrap;
				  border-right: thin solid #eee; }
body > header > *:last-child	{ border-right: none; 
				  text-align: left; 
				  width: 98%; }
body > header a			{ color: #222; }
.tab, .tab:target ~ #defaultTab	{ display: none; }
#defaultTab, .tab:target 	{ display: block; }
#navParent			{ position: relative; }
#nav a				{ font-size: 12pt; 
			  	  color: #222; }
#nav				{ padding: 0 2ex; 
				  position: absolute;
				  top: 0;
				  left: 0;
				  border-bottom-right-radius: 1ex;
				  border-bottom-left-radius: 1ex;
				  box-shadow: 1px 1px 4px #555;
				  background-color: #eee;
				  overflow: hidden;
				  transition: max-height 0.5s ease-in-out;
				  max-height: 0px; }
#nav ul				{ list-style-type: none; 
				  padding: 1ex 0 0 0; 
				  margin: 0; }
#nav li				{ padding: 0.5ex 0; }
i.fa-warning + span		{ margin-left: 0.5ex; }
h1				{ margin: 0; }
h2				{ font-size: 16pt; }
body > article, 
body > footer			{ max-width: 1024px;
				  margin-left: auto;
				  margin-right: auto; }
body > article			{ padding: 0 0.5ex; }
footer				{ text-align: center; 
				  margin-top: 1em;
				  margin-bottom: 1em;
				  color: #888;
				  font-size: smaller; }
footer a			{ color: #666; 
				  padding-right: 0.5ex;
				  border-right: thin solid #888; }
footer a:last-child		{ border-right: none; 
				  padding-right: 0; }
footer a:hover			{ color: #222; }
section section			{ border: thin solid #ddd;
				  margin: 1em 0; }
section section >*		{ margin: 1em; }
section section >h3		{ margin: 0;
				  font-weight: normal;
				  padding: 1em;
				  color: #fff;
				  background-color: #5555aa; }
section section h4		{ margin: 0; }
article >section > aside	{ padding: 1ex; }
article >section > form		{ padding: 1ex; }
.error				{ color: red;
				  font-weight: bolder; }
aside div			{ margin: 0.75em 0; 
				  line-height: 120%; }
/*
 * Now layout the specific components. 
 */
fieldset			{ display: table; 
				  width: auto;
				  margin: 0;
				  padding: 0;
				  border: 0;
				  border-spacing: 0 1ex; }
div.input			{ display: table-row; }
div.input >*			{ display: table-cell; 
				  background-color: #ddd;
				  padding: 1ex 1ex;
				  border: none;
				  border-radius: 0;
				  font-size: 11pt;
				  border-left: thin solid #ccc;
				  border-top: thin solid #ccc;
				  border-bottom: thin solid #ccc;
				  vertical-align: middle; }
div.input >*:last-child		{ border-right: thin solid #ccc; 
				  border-bottom-right-radius: 0.5ex;
				  border-top-right-radius: 0.5ex; }
div.input >*:first-child	{ border-bottom-left-radius: 0.5ex;
				  border-top-left-radius: 0.5ex; }
div.input i			{ text-align: center; 
				  width: 1%; }
div.input button,
div.input textarea,
div.input input			{ -webkit-appearance: none;
				  margin: 0;
				  width: 99%;
				  background-color: #fff;
				  font-size: 13pt;
				  font-family: inherit;
				  box-sizing: border-box; }
div.input textarea		{ height: 10ex; }
div.input-submit >*		{ background-color: #666; 
				  color: #fff; 
				  border-left: thin solid #000;
				  border-top: thin solid #000;
				  border-bottom: thin solid #000; }
div.input-submit button,
div.input-submit input		{ background-color: #333; 
				  text-align: left; }
div.input-submit >*:last-child	{ border-right: thin solid #000; }
div.input-submit button:active,
div.input-submit input:active	{ background-color: #444; }
div.input-submit button:hover,
div.input-submit input:hover	{ color: #ddd; }
div.input button,
div.input input[type=date],
div.input input[type=submit]	{ width: auto; }
div.input input[type=number]	{ width: 20ex; }
div.input input[type=time]	{ width: 20ex; }
img.enable			{ margin-bottom: -4px; 
			   	  margin-left: 4px; }
img.disable			{ margin-bottom: -6px; 
			   	  margin-left: 2px; }
img.enable:hover,
img.disable:hover		{ cursor: pointer; }
img.status			{ margin-bottom: -6px; }
img.logout			{ margin-bottom: -6px; }
progress			{ display: block;
			   	  margin-bottom: 1ex;
			   	  width: 100%; }
article ol			{ padding: 0 3ex; 
			   	  margin: 0; }
article ol li			{ margin: 0.25em 0; }
article ul			{ list-style-type: none; 
			   	  padding: 0; }
article ul li > span,
article ul li > div		{ background-color: #eee; 
			   	  padding: 1ex;
			   	  margin: 1ex;
			   	  border: thin solid #aaa;
			   	  border-radius: 1ex; }
article ul li a			{ color: #333; }
article ul li a:hover		{ color: #000; }
article ul li > span		{ display: inline-block; 
			   	  margin: 0.5ex; }
article ul li > span:first-child
				{ margin-left: 0; }
article ul li > span:last-child { margin-right: 0; }
span.waiting			{ background-color: #aaa; }
div.lottery			{ text-align: center; }
div.history			{ display: table;
				  max-width: 100%;
				  margin-left: auto;
				  margin-right: auto;
				  background-color: #eee;
				  border-radius: 0.5ex;
				  border: thin solid #ddd;
				  border-spacing: 1ex;
				  white-space: nowrap; }
div.history > div 		{ display: table-row; }
div.history > div > div		{ display: table-cell; }
div.history div.labelaside	{ padding: 0 0.5ex; }
div.history div.sum		{ border-radius: 0.5ex;
				  padding: 0.5ex;
				  border: thin solid #aaa; }
div.history div.mix		{ text-align: center; 
				  padding: 0.5ex; 
				  border-radius: 0.5ex;
				  border: thin solid #555; }
div.history div.labelatop	{ text-align: center; }
div.history div.sumbelow	{ text-align: center; }
div.history div.sumaside	{ text-align: center; }
div.payoffs			{ display: table; 
				  max-width: 100%; 
				  margin-left: auto;
				  margin-right: auto;
				  border-spacing: 1ex; }
div.payoffs > div		{ display: table-row; }
div.payoffs > div > div		{ display: table-cell;  }
div.payoffs div.pair 		{ background-color: #777; 
				  border-radius: 0.5ex; }
div.payoffs div.pair > div 	{ display: inline-block; 
				  width: 49%;
				  padding: 1ex 0;
				  text-align: center; }
div.payoffs div.pair > div:first-child
				{ border-right: 2px solid #ccc; }
div.payoffs div.labelaside	{ text-align: right;
				  width: 1%; }
div.payoffs div.labelatop	{ text-align: center; }
div.canclose			{ position: relative; 
				  border: thin solid #ccc;
				  border-radius: 1ex;
				  padding: 1.5em 1ex 0.5em 1ex; 
				  background-color: #eee; }
div.canclose a.close		{ position: absolute;
				  color: #000;
				  top: -8px;
				  cursor: pointer;
				  right: -8px; }
div.canclose h4			{ position: absolute;
				  margin: 0;
				  background-color: #5555aa;
				  font-weight: normal;
				  padding: 0.5ex 2ex;
				  border-radius: 1ex;
				  color: #eee;
				  top: -8px;
				  left: 1em; }
sup				{ font-size: 8pt; 
				  font-style: italic; }
.noshow				{ display: none; }
.tabled 			{ display: table; border-spacing: 1ex; }
.tabled > div 			{ display: table-row; }
.tabled > div > * 		{ display: table-cell; }
@media only screen and (max-width: 400px), only screen and (max-device-width: 400px) {
	article ul li > span	{ display: block; 
				  margin: 1ex 0; }
	article ul li > div	{ margin: 1ex 0; }
	article ul li > span:first-child
				{ margin-left: 0; }
	article ul li > span:last-child
				{ margin-right: 0; }
	section section >*	{ margin: 1em 0.5em 1em 0.5em; }
	section section >h3	{ text-align: center; }
	div.payoffs		{ width: 100% !important; }
	div.history		{ width: 100% !important; }
	h1			{ font-size: 18pt; }
	#exprCountdown		{ font-size: 12pt; }
}
