html, body		{ margin: 0; }
h1 			{ width: 100%;
				margin: 1em auto 0 auto; }
a 			{ text-decoration: none; }
body			{ font-size: 14pt; }
.legend 		{ border-right: thin solid #888899;
				color: #fff;
				padding: 1.2ex;
				border-bottom: thin solid #888899;
				background-color: #8888aa; }
.legend, .error 	{ display: inline-block;
				font-size: 16pt; }
.error 			{ color: magenta; }
.error > *		{ padding: 1.2ex; 
				display: none; }
fieldset 		{ border: thin solid #aaa;
				box-shadow: 2px 2px 4px #ccc;
				background-color: #fff;
				margin: 1em auto 1em auto; 
				padding: 0;
				width: 100%; }
input 			{ width: 100%;
				height: 40px;
				margin: 1em auto 1em auto;
				-webkit-appearance: none;
				border: 2px solid #ccc;
				background-color: #eee;
				border-radius: 6px;
				padding: 0;
				box-sizing: border-box;
				font-size: 105%;
				display: block; }
input[type=text] 	{ padding-left: 1ex;
				padding-right: 1ex; }
input[type=date] 	{ padding-left: 34px;
				width: 10em;
				display: inline-block;
				padding-right: 1ex;
				margin: 0;
				background-position: left center;
				background-repeat: no-repeat;
				background-image: url('@@htdocs@@/calendar.png'); }
input[type=number] 	{ width: 4em; 
				padding-left: 1ex;
				padding-right: 1ex;
				display: inline-block;
				margin: 0; }
input[type=submit] 	{ background: #3498db;
				width: auto;
				margin: 0;
				border: none;
				height: auto;
				background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
				background-image: -moz-linear-gradient(top, #3498db, #2980b9);
				background-image: -ms-linear-gradient(top, #3498db, #2980b9);
				background-image: -o-linear-gradient(top, #3498db, #2980b9);
				background-image: linear-gradient(to bottom, #3498db, #2980b9);
				-webkit-border-radius: 16;
				-moz-border-radius: 16;
				border-radius: 16px;
				font-family: Arial;
				color: #ffffff;
				font-size: 18px;
				padding: 5px 20px 5px 20px;
				text-decoration: none; }
input[type=submit]:hover { background: #3cb0fd;
				background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
				background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
				background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
				background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
				background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
				text-decoration: none; }
input[type=password] 	{ padding-left: 34px;
				padding-right: 1ex;
				background-position: left center;
				background-repeat: no-repeat;
				background-image: url('@@htdocs@@/lock.png'); }
input[type=email] 	{ padding-left: 34px;
				padding-right: 1ex;
				background-repeat: no-repeat;
				background-position: left center;
				background-image: url('@@htdocs@@/mail.png'); }
textarea 		{ display: block;
				border: thin solid #aaa;
				box-sizing: border-box;
				width: 100%;
				margin: 1em auto 1em auto;
				border-radius: 6px;
				padding: 1ex;
				font-size: 13pt;
				height: 6em; }
.fields			{ padding: 1ex; }
.fields > div		{ margin: 1em 0; }
.fields > aside		{ display: block;
			  margin: 1em auto 1em auto; }
section 		{ border: thin solid #aaa;
				margin: 1em auto 1em auto; }
section.intro		{ border: none; }
section ol, ul 		{ padding: 0; }
section ol li 		{ border: thin solid #ddd; 
				border-radius: 1ex;
				margin: 1em;
				margin-left: 2em;
				padding: 1ex; }
section ul li 		{ border: thin solid #ddd; 
				border-radius: 1ex;
				margin: 1em;
				padding: 1ex; }
img.loader		{ margin-bottom: -2px;
			  margin-right: 1ex; }
section ul	 	{ list-style-type: none; }
section ol.default 	{ list-style-type: none; }
section ul.default li,
section ol.default li 	{ font-style: italic;
				margin-left: 1em;
				color: #666; }
nav ul 			{ list-style-type: none; 
				box-shadow: 2px 2px 4px #ccc;
				border-bottom: thin solid #aaa;
				background-color: #ccc; 
				padding: 0; 
				margin: 0; }
nav li 			{ display: inline-block; 
				font-size: 16pt; 
				padding: 1ex; }
nav li:first-child 	{ font-size: 18pt;
				color: #fff;
				background-color: #8888aa; }

@media only screen and (max-width: 640px), only screen and (max-device-width: 640px) {
.legend, .error		{ display: block; }
h1 			{ margin: 0.5em auto 0 auto; text-align: center; }
fieldset 		{ box-shadow: none; 
			  border: 0; }
.legend			{ border: none; }
section			{ border: none; }
}
